{% extends 'base.html.twig' %}


{% block title %}Index{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">

        <div class="mt-5">
            {{ form_start(form) }}
            {{ form_row(form.searchField) }}
            <button type="submit" class="btn btn-success" name="btnSearch">Rechercher</button>
            {{ form_end(form) }}
        </div>

        <div class="mt-5">
            {{ form_start(form2) }}
            {{ form_widget(form2) }}
            <button type="submit" class="btn btn-success" name="btnSearch">Ajouter</button>
            {{ form_end(form2) }}
        </div>


        <h1 class="text-info mt-5 mb-4"><u>All articles from article s table : </u></h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}




    <a href="{{ path('blog_index') }}">
        Back to blog index.
    </a>
    </div>
{% endblock %}