{% extends 'base.html.twig' %}


{% block title %}Index{% endblock %}


{% block body %}
    <div class="container">

        <div class="mt-5">
            {{ form_start(form) }}
            {{ form_row(form.searchField) }}
            <button type="submit" class="btn btn-success" name="btnSearch">Rechercher</button>
            {{ form_end(form) }}
        </div>

        <div class="mt-5">
            {{ form_start(form2) }}
            {{ form_widget(form2) }}
            <button type="submit" class="btn btn-success" name="btnSearch">Ajouter</button>
            {{ form_end(form2) }}
        </div>


        <h1 class="text-info mt-5 mb-4"><u>All articles from article s table : </u></h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - <a href = "{{ path('blog_show_category', {name:article.category.name}) }}">Category : {{ article.category.name }}</a></h2>
            <p>{{ article.content }}</p>
            <ul>
                {% for tag in article.tags %}
                    <a href="{{ path('blog_show_tag', {name: tag.name}) }}"><li>{{ tag.name }} </li></a>
                {% else %}
                    <li>No tags for this article</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}




    <a href="{{ path('blog_index') }}">
        Back to blog index.
    </a>
    </div>
{% endblock %}